.angled {
  clip-path: 
    polygon(
      0% 10px,                 /* top left */
      10px 0%,                 /* top left */
      0% 0%, /*calc(100% - 20px) 0%,    /* top right */
      100% 0%, /*100% 20px,               /* top right */
      100% calc(100% - 10px),  /* bottom right */
      calc(100% - 10px) 100%,  /* bottom right */
      0% 100%, /*20px 100%,               /* bottom left */
      0% 0% /*0 calc(100% - 20px)      /* bottom left */
    );
}
a.pink:hover {
	background: #fff!important;
	color: #ff009a!important;
}
a.white:hover {
	background: #9e00b5!important;
	color: #fff!important;
}
a.link {
	text-decoration: underline;
	color: #ff009a;
}



.mobile-hidden {
		display: block;
	}

@media screen and (max-width: 767px) {
	
	.mobile-hidden {
		display: none;
	}
	.mobile-medium {
		font-size: 0.87em!important;
	}
	.mobile-logo {
		width: 200px!important;
	}
	
}